/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
  }

  table {
    border: solid 3px black;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
    margin: 0 auto;
    width: 50%;
  }
  
  th {
    border: solid 3px black;
    color: black;
    padding: 10px;
    text-align: left;
    background-color: rgba(0, 8, 80, 0.486);
  }
  
  td {
    border: solid 3px black;
    color: #333;
    padding: 10px;
  }